body {
    background-image: url(/images/Wallpaper.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
#container {
    margin-top: 5%;
}
#barnav {
    background-color: rgba(86, 92, 104, 0.842)!important;
    border-bottom: 2px solid rgb(151, 145, 145);
}

#barnav a {
    color: white;
}

#dropdownMenu {
    background-color: rgba(86, 92, 104, 0.842)!important;
}

.dropdown-item:hover {
    background-color: grey!important;
}

.test {
    width: 60%;
    margin-left: 20%;
    height: 100%;
}

.container-fluid {
    height: 100%;
}
article {
    border: 3px black solid;
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.829);
}

.card {
    background-color: rgba(208, 226, 220, 0.89)!important;
}

#bout:hover {
    background-color: rgba(228, 23, 23, 0.979)!important;
    border-color: rgba(185, 15, 15, 0.979)!important;
}

#bout {
    background-color: rgba(202, 43, 43, 0.568)!important;
    border-color: rgba(196, 24, 24, 0.815)!important;
    width: 5%;
    height: 35px;
    margin-left: 95%!important;
    font-size: 100%;
    position: relative;
    
}

#buttonComments {
    background-color: rgba(26, 77, 187, 0.568)!important;
    border-color: rgba(27, 71, 192, 0.815)!important;
    width: 20%;
    height: 35px;
    margin-right: 95%!important;
    font-size: 100%;
    position: relative;
    margin-top: -4.3%;
}

#bout2 {
    background-color: rgba(185, 24, 24, 0.87);
    border-color: rgba(196, 19, 19, 0.719);
}

#bout2:hover {
    background-color: rgba(228, 23, 23, 0.979)!important;
    border-color: rgba(185, 15, 15, 0.979)!important;
}

#bout3 {
    background-color: rgba(23, 23, 221, 0.884);
    border-color: rgb(13, 13, 204);
}

#bout3:hover {
    background-color: rgba(36, 36, 206, 0.884);
    border-color: rgb(14, 14, 172);
}

#loupe {
    color: white;
}

#form {
    color: white;
    margin-top: 10%;
}

