{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center text-center" id="form">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.image) }}
            <div class="row justify-content-center">
                <div class="col-8">
                    {{ form_row(form.author) }}
                </div>
            </div>
            <button class="btn btn-primary">Post article</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}