{% extends "base.html.twig" %}
{% block body %}
<div id="container" class="container-fluid">
    <div class="row">
        <div class="test">
            {% for row in articles %}
            <div class="card mt-3">
                <div class="card-header">
                    {{row.title}}
                </div>
                <div class="card-body">
                    <p>{{row.content}}
                        <img src="{{row.image}}" alt="">
                        <br>
                        <br>
                        {{row.date}} {{row.author}}</p>
                </div>
                <a id="bout" class="btn btn-primary" href="{{path('delArticle', {id: row.id})}}" onclick="return confirm('Are you sure you want to delete this article ?')"><i id="trash"
                        class="fas fa-trash-alt"></i></a>
                <a id="buttonComments" class="btn btn-primary">Comments</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}